@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

body {
  font-family: "Montserrat", serif !important;
  overflow-x: hidden;

  height: 150dvh;
  background: linear-gradient(
    90deg,
    #c0d6f5 6%,
    #accdf3 25%,
    #6ca5f0 45%,
    #3b9ef0 55%,
    #0e5cd1 94%
  );
}
:root {
  --span-color: rgb(17, 17, 214);
  --background: rgba(255, 255, 255, 0.4);
}
.nav-item .setting {
  width: 50px; /* Điều chỉnh kích thước */
  height: 50px;
  border-radius: 50%; /* Bo tròn */
  object-fit: cover; /* Giữ tỷ lệ */
}
.navbar-nav .dropdown-menu {
  background-color: var(--background);
}
.btn-5 {
  color: var(--span-color);
  border: 2px solid purple;
  cursor: pointer;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  font-size: 25px;
  border-radius: 6px;
}

.btn-5:hover {
  color: white;
}

.btn-5::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: rgb(29, 89, 185);
  z-index: -1;
  transition: all 1s;
}

.btn-5:hover::before {
  width: 160%;
}

.navbar {
  top: 0;
  z-index: 10;
  position: fixed !important;
  background: linear-gradient(
    90deg,
    #c0d6f5 6%,
    #accdf3 25%,
    #6ca5f0 45%,
    #3b9ef0 55%,
    #0e5cd1 94%
  );
  box-shadow: 1px 1px 1px rgba(50, 48, 48, 0.877);
  width: 100%;
}

.btn41-43 {
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin: 3px 30px 3px 1px;
}

/* .btn-41 {
  z-index: 1;
  color: rgb(0, 0, 0);
} */

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 10%;
  bottom: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}
/* màu logo */
.logo {
  font-weight: 800;
  background: transparent;
  text-transform: var(--text-transform);
}
span {
  color: var(--span-color);
  font-size: 24px;
  font-weight: 800;
}
/* dường dẫn thông tin  */

.parent {
  width: 100%;
  display: flex;
}

.child {
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}
.child .button i {
  font-size: 40px;
}

.child:hover {
  background-color: rgb(96, 132, 187);
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

.button:hover {
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg)
    translateY(2px);
  border-radius: 50%;
}
/* section 1 */

.left h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  text-transform: var(--text-transform);
}
.container {
  position: relative;
  top: 80px;
  border-radius: 10px;
  margin: 10px 0 100px 0;
  padding: 0 0 30px 0;
  backdrop-filter: blur(8px);
  background: var(--background);
}

.right img {
  max-width: 300px;
  width: 100%;
  height: 350px;
  box-shadow: 6px 6px 12px #595959;

  margin: 100px 10px 0 0;
}

.container .icon i {
  border-radius: 6px;
  border: #595959 solid 1px;
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.container .icon i:hover {
  color: rgb(67, 158, 158);
  box-shadow: inset #595959 2px 2px 3px;
}

/* section 2 */

.loader {
  width: 150px;
  height: 150px;
  position: relative;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
    0 5px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: -14px auto;
}

/* img1 */
.img-1:before,
.img-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: -40%;
  background-color: #84db61e2;
  animation: wave 5s linear infinite;
}
/* img2 */
.img-2:before,
.img-2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: -40%;
  background-color: #26c9d8;
  animation: wave 5s linear infinite;
}
/* img3
 */
.img-3:before,
.img-3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: -40%;
  background-color: #d82626;
  animation: wave 5s linear infinite;
}

.loader img {
  width: 100px;
  z-index: 2;
}

/* img1 */
.img-1:before {
  border-radius: 30%;
  background: rgba(97, 252, 0, 0.4);
  animation: wave 5s linear infinite;
}
/* img2 */
.img-2:before {
  border-radius: 30%;
  background: rgba(0, 252, 252, 0.4);
  animation: wave 5s linear infinite;
}
/*  */
.img-3:before {
  border-radius: 30%;
  background: rgba(252, 0, 0, 0.4);
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* section 3 */

.e-card {
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
}
.wave_1 {
  background: linear-gradient(744deg, #e44481, #f34260 60%, #ff0202);
}
.wave_2 {
  background: linear-gradient(744deg, #0051ff, #fa3535 60%, #4570fa);
}
.wave_3 {
  background: linear-gradient(744deg, #d0ff00, #d6fa35 60%, #eefa45);
}
.wave_4 {
  background: linear-gradient(744deg, #01a2b8, #2ed9e6 60%, #45e5fa);
}
.wave_5 {
  background: linear-gradient(744deg, #48ff00, #51db27 60%, #9fff45);
}
.wave_6 {
  background: linear-gradient(744deg, #ff9b00, #ff7f00 60%, #ff4500);
}
.wave_7 {
  background: linear-gradient(744deg, #0084ff, #0004ff 60%, #0026ff);
}
.wave_8 {
  background: linear-gradient(744deg, #ff7b00, #fd9d2f 60%, #9903f0);
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* icon section */
.row .e-card .infotop i {
  font-size: 70px;
}
.row .e-card .infotop .CSS {
  font-size: 62px;
}
.row .e-card .infotop .SASS {
  font-size: 62px;
}
.row .text_h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  text-transform: var(--text-transform);
}
i {
  display: inline;
}
